<div ng-app="app">

<div ng-controller="childrenCtrl" ng-init="setup(<%= current_user.id %>)">

<h1>Welcome to your dashboard, {{ first_name }}!</h1>

<h2>Tasks To Complete:</h2>
  <h3>¯\_(ツ)_/¯</h3>
  <div>
    Total #: {{ incomplete_tasks.length }}
  </div>
  <table>
    <tr>
      <th ng-click="toggleOrder('to_do')">Task</th>
      <th ng-click="toggleOrder('amount_earned')">Amount</th>
    </tr>
    <tr ng-repeat="task in incomplete_tasks | orderBy:orderAttribute:descending">
      <td>{{ task.to_do }}</td>
      <td>{{ task.amount_earned }}</td>
      <td><button ng-click="updateTaskStatus(task.id)">Complete
      </button></td>
    </tr>
  </table>

<h2>Bank Account:</h2>
  <ol>
    <div>
      <h3> Current Balance To Spend:</h3> 
      {{ total_balance }}  Points
    </div>
    <div>
      <h3> Current Investments:</h3>
      Total #: {{ current_investments.length }}
    </div>
  </ol>

<table>
  <tr>
    <th ng-click="toggleOrder('investment_date')">Created</th>  
    <th ng-click="toggleOrder('duration')">Duration Invested</th>
    <th ng-click="toggleOrder('days_remaining')">Days Remaining</th>
    <th ng-click="toggleOrder('days_passed')">Days Passed</th>
    <th ng-click="toggleOrder('interest_rate')">Interest Rate</th>
    <th ng-click="toggleOrder('money_invested')">Amount Invested</th>
    <th ng-click="toggleOrder('investment_balance_to_date')">How Much You Have Today</th>
  </tr>
  <tr ng-repeat="investment in current_investments | orderBy:orderAttribute:descending">
    <td>{{ investment.investment_date }}</td>
    <td>{{ investment.duration }}</td>
    <td>{{ investment.days_remaining }}</td>
    <td>{{ investment.days_passed }} </td>
    <td>{{ investment.interest_rate }}</td>
    <td>{{ investment.money_invested }}</td>
    <td>{{ investment.investment_balance_to_date }}</td>
    <td ng-if="investment.withdrawl_status === 'complete'">
    <button ng-click="updateStatus(investment.id)">Place in Spending Balance
    </button></td>
  </tr>
</table>

<h5>
  <ol>
    <h3> Total Investments:</h3>
      {{ total_investments }}

    <h3> Total Investments + Balance Today: </h3>
      {{ investments_and_balance }}
    
    <h3> Current Interest Rate: </h3>
      {{ interest_rate }} per day
  </ol>

<h2>Ready to Shop?</h2>
  <div>
    <%= link_to "I'm ready to shop!", "/rewards" %>
  </div>


  Amount To Invest: <input ng-model="money_invested" convert-to-decimal>
  Days To Save: <select ng-model="duration" convert-to-integer>
    <option value="30">30</option>
    <option value="90">90</option>
    <option value="180">180</option>
    <option value="360">360</option>
  </select>

<button ng-click="addInvestment(money_invested, duration)">Save Away!</button>

</div>