<div ng-app="app">

  <div ng-controller="parentsCtrl" ng-init="setup(<%= current_user.id %>)">

    <h1>Welcome to your dashboard, {{ first_name }} </h1>

      <div ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        <%= link_to "Add a Task", "/tasks/new" %>
        <span ng-show="hoverTask">
          <div>
            Task: <input ng-model="toDo" placeholder="e.g.: Clean your room">
            Points You Want Them to Earn:<input ng-model="amountEarned" placeholder="e.g.: 500">
            <select ng-model="myChild" ng-options="child.first_name for child in children"></select>
            <button ng-click="addTask(toDo, amountEarned, myChild)">Save</button>
          </div>
        </span>
      </div>
      <div ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        <%= link_to "Add a Reward", "/rewards/new" %>
<!--         <span ng-show="hoverTask"> -->
          <div>
            Reward: <input ng-model="rewardDescription" placeholder="e.g.: Late curfew">
            Points You Want It to Cost:<input ng-model="amountCost" placeholder="e.g.: 800">
            Image URL:<input ng-model="image" placeholder="e.g.: http://www.website/image.jpeg">
            <select ng-model="myChild" ng-options="child.first_name for child in children"></select>
            <button ng-click="addReward(rewardDescription, amountCost, image, myChild)">Save</button>
          </div>
<!--         </span> -->
      </div>

      <div ng-repeat="child in children" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        <div>
          <h3>{{ child.first_name }}'s To Do List</h3>
        </div>
        <span ng-show="hoverTask">
          <table>
            <tr>
              <th ng-click="toggleOrder('to_do')">Task</th>
              <th ng-click="toggleOrder('amount_earned')">Amount</th>
            </tr>
            <tr ng-repeat="task in child.incomplete_tasks | orderBy:orderAttribute:descending">
                <td>{{ task.to_do }}</td>
                <td>{{ task.amount_earned }}</td>
            </tr>
          </table>
        </span>
      </div>
        

    <h2>Check Off Time!</h2>
      <div ng-repeat="child in children">
        <h3>{{ child.first_name }}'s Stuff</h3>
        <table>
          <tr>
            <th ng-click="toggleOrder('to_do')">Task</th>
            <th ng-click="toggleOrder('amount_earned')">Amount</th>
          </tr>
          <tr ng-repeat="task in child.tasks_needing_approval | orderBy:orderAttribute:descending">
            <td>{{ task.to_do }}</td>
            <td>{{ task.amount_earned }}</td>
            <td><button ng-click="approveTask(task.id)">Approve
            </button></td>
            <td><button ng-click="incompleteTask(task.id)">Not Actually Complete</button></td>
          </tr>
        </table>
        <table>
          <tr>
            <th ng-click="toggleOrder('description')">Description</th>
            <th ng-click="toggleOrder('amount_cost')">Price</th>
          </tr>
          <tr ng-repeat="reward in child.rewards_needing_approval | orderBy:orderAttribute:descending">
            <td>{{ reward.description }}</td>
            <td>{{ reward.amount_cost }}</td>
            <td><button ng-click="approveOrder(reward.id)">Approve</button>
            <button ng-click="cancelOrder(reward.id)">Cancel Order</button></td>
            <td><img ng-src="{{ reward.image_url }}" width="100"></td>
          </tr>
        </table>
      </div>


    <h3>Set interest rate per day for your children's investments:</h3>
      <div ng-repeat="child in children">
        <ol>
          <div>
            {{ child.first_name }}'s Current Interest Rate: {{ child.interest_rate }}
          </div>
        </ol>
      </div>

    Set Interest Rate: <input ng-model="interestRate" placeholder="e.g.: 10% = .10">
    <select ng-model="myChild" ng-options="child.first_name for child in children"></select>
    <button ng-click="addInterestRate(interestRate, myChild)">Save</button>
  </div>
</div>