<div ng-app="app">

  <div ng-controller="parentsCtrl" ng-init="setup(<%= current_user.id %>)">

    <h1>Welcome to your dashboard, {{ first_name }} </h1>

    <h2>Tasks Needing to be Done:</h2>
      <div ng-repeat="child in children" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        <div>
          {{ child.first_name }}
        </div>
          <div ng-repeat="task in child.incomplete_tasks">
            <span ng-show="hoverTask">
              <ol>
                <div>
                  Task: {{ task.to_do }}
                </div>
                <div>
                  Amount: {{ task.amount_earned }}
                </div>
                <div>
                  Status: {{ task.status }}
                </div>
              </ol>
            </span>
          </div>
        </div>
        

    <h2>Tasks Needing Approval:</h2>
      <div ng-repeat="child in children">
        <div>
          {{ child.first_name }}
        </div>
        <div ng-repeat="task in child.tasks_needing_approval">
            <ol>
              <div>
                Task: {{ task.to_do }}
              </div>
              <div>
                Amount: {{ task.amount_earned }}
              </div>
              <div>
                Status: {{ task.status }}
              </div>
              <button ng-click="approveTask(task.id)">Approve
              </button>
              <button ng-click="incompleteTask(task.id)">Not Actually Complete</button>
            </ol>
        </div>
      </div>

    <h2>Rewards Needing Approval:</h2>
      <div ng-repeat="child in children">
        <div>
          {{ child.first_name }}
        </div>
        <div ng-repeat="reward in child.rewards_needing_approval">
          <ol>
            <div>
              Description: {{ reward.description }}
            </div>
            <div>
              <img ng-src="{{ reward.image_url }}" width="100">
            </div>
            <div>
              Price: {{ reward.amount_cost }}
            </div>
            <button ng-click="approveOrder(reward.id)">Approve</button>
            <button ng-click="cancelOrder(reward.id)">Cancel Order</button>
          </ol>
        </div>
      </div>


    <h3>Set interest rate per day for your children's investments:</h3>
      <div ng-repeat="child in children">
        <ol>
          <div>
            {{ child.first_name }}'s Current Interest Rate: {{ child.interest_rate }}
          </div>
        </ol>
      </div>

    Set Interest Rate: <input ng-model="interestRate">
    <select ng-model="myChild" ng-options="child.email for child in children"></select>
    <button ng-click="addInterestRate(interestRate, myChild)">Save</button>
  </div>
</div>