// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//parent_and_child
.header .navbar-brand {
  font-weight: 900;
}

.header .navbar {
  margin: 0;
  border: none;
}

.title {
  width:100%;
  min-height: 800px;
  padding: 50px 0;
  border-bottom: 1px solid grey;
}

.page-section {
  width: 100%;
  min-height: 800px;
  padding: 50px 0;
  border-bottom: 1px solid grey;
}

.back-to-top {
  display: inline-block;
  clear: both;
  background: #fff;
  color: #333;
  padding: 0 10px 5px;
  margin: 20px 0 0;
  text-shadow: none;
}

.back-to-top:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left:0;
  }
  .navbar-nav {
    float: right;
  }
}

@media (max-width: 480px) {

}

// parent
.header-parent {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: black;
}

.page-section#add {

}

.page-section#tasks {

}

.page-section#rewards {

}

.page-section#checkoff {

}

.page-section#interest {

}


//child

.header-child {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: orange;
}

.page-section#todo {

}

.page-section#bank {

}

.page-section#investments {

}

.page-section#store {

}